<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fancybox/dist/js/jquery.fancybox.cjs.min.js"></script>
    <script>
        $(document).ready(function() {
            $("p img").each(function() {
                var strA = "<a data-fancybox='gallery' ref='gallery1' href='" + this.src + "'></a>";
                $(this).wrapAll(strA);
            });

            $('[data-fancybox="gallery"]').fancybox();
        });
    </script>

</body>

</html>
