<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script>
    $(document).ready(function() {
        $("p img").each(function() {
            var strA = "<a data-fancybox='gallery' href='" + this.src + "'></a>";
            $(this).wrapAll(strA);
        });

        Fancybox.bind('[data-fancybox="gallery"]', {
            compact: false,
            contentClick: "iterateZoom",
            Images: {
                Panzoom: {
                    maxScale: 2,
                },
            },
            Toolbar: {
                display: {
                    left: ["infobar"],
                    middle: [],
                    right: [
                      "iterateZoom",
                      "fullscreen",
                      "thumbs",
                      "close",
                    ],
                }
            },
            // 设置背景颜色
            bg: 'rgba(255, 255, 255, 0.9)', // 白色背景，带透明度
            Animation: {
                show: {
                    duration: 300, // 设置放大动画的持续时间（毫秒）
                },
                hide: {
                    duration: 300, // 设置缩小动画的持续时间（毫秒）
                },
            },
        });
    });
</script>


</body>

</html>
